.container {
  //   background-color: darkcyan;
  background: $main-color;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9rem;
  gap: 2rem;
  z-index: 0%;

  .section-1-description {
    width: 70%;
    height: 100%;
    // background: rgb(47, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    font-family: $arial;
    .current-location {
      display: none;
    }
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 17px;
    }

    .in-sec-1-descripion {
      display: flex;
      align-items: center;
      justify-content: space-between;
      //   gap: 30px;
      flex-direction: row;
      background-color: aliceblue;
      width: 75%;
      height: 20%;
      border-radius: 10px;

      .in-descripion-sec1 {
        width: 50%;
        height: 100%;
        // background: blue;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        .in-dsc-seca {
          width: 20%;
          height: 100%;
          background: $sec-second;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        .in-dsc-secb {
          width: 80%;
          height: 100%;
          color: $sec-third;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
        }
      }
      .in-descripion-sec2 {
        width: 50%;
        height: 100%;
        // background: rgb(51, 255, 0);
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
        .in-dsc-seca {
          width: 20%;
          height: 100%;
          //   background: $sec-second;
          color: $sec-second;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          border-radius: 10px;
          .zoom {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 30px;
            background: #baf4ea;
          }
        }
        .in-dsc-secb {
          width: 80%;
          height: 100%;
          color: $sec-third;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          p {
            color: $sec-second;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    min-height: 80vh;
    padding: 0px;
    z-index: 0;
    padding: 2rem;
    .imgup {
      height: 50%;
      margin-top: 30px;
      background-color: rgba(251, 251, 251, 0.343);
      backdrop-filter: blur(5px);
      border-radius: 15px;
      z-index: 0;
    }
    .section-1-description {
      align-items: center;
      min-height: 30%;
      text-align: center;
      .m-log {
        font-size: 150%;
      }
      .current-location {
        display: block;
        p {
          font-weight: bolder;
          color: $sec-second;
        }
      }
      .in-sec-1-descripion {
        .in-descripion-sec2 {
          display: none;
        }
        .in-descripion-sec1 {
          width: 100%;
        }
      }

      // .in-sec-1-descripion {
      //   height: 18%;
      //   width: 60%;
      // }
    }

    .section-1-description {
      width: 100%;
      height: 70%;
      gap: 15px;
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
.imgup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  img {
    width: 80%;
    object-fit: cover;
  }
}
