.rd-container {
  padding: 0px;

  .like-btn {
    p {
      padding: 10px 20px;
      border-radius: 35px;
      background: $sec-second;
      color: aliceblue;
    }
  }

  .rd-in-img {
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    .in-element {
      width: 28%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 5px;
      flex-wrap: wrap;
      .in-image {
        width: 120px;
        height: 120px;
        object-fit: cover;
      }
      .description {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        .descrisption-in {
          color: $sec-third;
          font-size: 13px;
          span {
            border: 0.3px solid $main-color;
            background-color: $main-color;
            border-radius: 50px;
            color: rgba(0, 0, 0, 0.639);
          }
        }
        .tittle {
          font-weight: bolder;
          color: black;
          font-size: 20px;
          font-weight: bolder;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .rd-container {
    padding: 40px;
    justify-content: center;
    .rd-in-img {
      height: 90%;
      width: 100%;
      gap: 0px;
      flex-direction: column;
      // padding-bottom: 30px;
      .in-element {
        width: 70%;
        padding: 20px;
        p {
          font-size: 19px;
        }
        .description {
          .descrisption-in {
            font-size: 10px;
          }
          .tittle {
            font-size: 30px;
          }
        }
        .in-image {
          width: 130px;
          height: 120px;
        }
        .description {
          // justify-content: start;
          .descrisption-in {
            font-size: 17px;
          }
        }
      }
    }
    .h1-div {
      height: 25%;
    }
  }
}
@media (max-width: 480px) {
  .rd-container {
    padding: 10px;
    gap: 0px;
    .h1-div {
      height: 10%;
    }
    .rd-in-img {
      height: 80%;
      width: 100%;
      gap: 0px;
      flex-direction: column;
      padding-bottom: 30px;

      .in-element {
        width: 90%;
        padding: 0px;
        .in-image {
          width: 90px;
          height: 90px;
        }
        .description {
          // justify-content: start;
          .tittle {
            font-size: 20px;
          }
          .descrisption-in {
            font-size: 15px;
          }
        }
      }
    }
  }
}
