.sec-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10rem 10rem;
  .h1-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    h1 {
      font-size: 40px;
    }
  }
  .sec-container-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 90%;
    padding: 2rem;
    .sec-in-4 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      //   gap: 15px;
      width: 50%;
      height: 100%;
      .in-element {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        p {
          padding: 5px 20px;
          background: $main-color;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          font-weight: bolder;
          position: absolute;
          bottom: 7%;
          left: 30%;
          rotate: 10deg;
        }
        .in-image {
          width: 130px;
          height: 130px;
          object-fit: cover;
          border-radius: 40px;
          transition: all 0.6s;
          transition: all 0.9sec;
          &:hover {
            content: "";
            border-bottom-left-radius: 5px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .sec-container {
    padding: 2rem 1rem;
    justify-content: start;
    align-items: center;
    .h1-div {
      h1 {
        font-size: 26px;
      }
    }
    .sec-container-div {
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 1rem 7rem;
      .sec-in-4 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        height: 50%;
        gap: 0px;
        flex-wrap: wrap;
        .in-element {
          width: 50%;
          height: 50%;
          flex-wrap: wrap;
          .in-image {
            width: 150px;
            height: 130px;
            object-fit: cover;
            border-radius: 40px;
          }
          p {
            padding: 5px 10px;
            font-size: 15px;
            bottom: 5%;
            left: 35%;
            rotate: 5deg;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .sec-container {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 1rem;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    .sec-container-div {
      gap: 5px;
      padding: 1rem 2rem;
      .sec-in-4 {
        .in-element {
          p {
            bottom: 2%;
            left: 25%;
            rotate: 5deg;
          }
          .in-image {
            width: 98px;
            height: 98px;
          }
        }
      }
    }
    .h1-div {
      background-color: $sec-second;
      padding: 20px;
      h1 {
        color: white;
        font-size: 20px;
      }
    }
  }
}
